@import '../../../../node_modules/bulma/bulma.sass';

.yat-team {
  &--position-container {
    margin: 0.5rem;
    @media (min-width: 769px) {
      margin: 1rem;
    }
  }
  &--position-container:not(:last-child) {
    border-bottom: solid 1px grey;
  }

  &--players {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}
