@import '../../../../node_modules/bulma/bulma.sass';

.yat-create-your-team {
  margin-top: 2rem;
  span {
    display: flex;
    align-items: center;
    ion-icon {
      margin-right: 8px;
    }
  }

  .notification {
    z-index: 100;
    position: sticky;
    bottom: 0.5rem;
    right: 0;

    &.hidden {
      display: none;
    }
    &.visible {
      display: block;
    }

    span {
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: 4px;
      }
    }
  }
}
