@import '../../../../node_modules/bulma/bulma.sass';

nav {
  padding: 0 1rem;

  .navbar-end {
    justify-content: center;
  }

  figure.image.is-48x48 {
    display: flex;
    align-items: center;
  }
}
