@import '../../../../node_modules/bulma/bulma.sass';

nav {
  display: flex;
  justify-content: space-between;

  @media (min-width: 769px) {
    padding: 0 1rem;
  }
  .navbar {
    &-other {
      display: flex;
      align-items: center;
    }
    &-end {
      justify-content: center;
    }
  }

  .active {
    p {
      border-bottom: 2px solid white;
    }
  }

  figure.image.is-48x48 {
    display: flex;
    align-items: center;
  }
}
