@import '../../../../node_modules/bulma/bulma.sass';

.yat-national-team {
  &--position-container {
    margin: 1rem;
  }
  &--position-container:not(:last-child) {
    border-bottom: solid 1px grey;
  }

  &--players {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .notification {
    width: fit-content;
    margin: 2rem auto;
    &--title {
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: 4px;
      }
    }
  }
}
